<div class="header">
    <div class="container">
        <div class="nav  d-flex">
            <div class="logo">
                <a href="https://yamada0922.github.io/FourthWeek-upload-Vite/optical.html"><img src="../assets/images/logo-white.png" alt=""></a>
            </div>
            <ul class="menu d-flex">
                <li><a href="https://yamada0922.github.io/FourthWeek-upload-Vite/optical.html">系列鏡框</a></li>
                <li><a href="https://yamada0922.github.io/FourthWeek-upload-Vite/location.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>