.footer {
  background-color: #AA0601;
  &-content {
    padding-top: 60px;
    padding-bottom: 32px;
  }
}
.nav-about {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  .side-about {
    gap: 48px;
    a {
    color: white;
  }
}
  .side-social {
    gap: 32px;
    img {
    width: 48px;
    @media (max-width: 576px) {
      width: 24px;
    }
  }
}
}
.tel-mail {
  margin-bottom: 32px;
  h3 {
    font-size: 36px;
    color: white;
  }
  .tel {
    margin-bottom: 8px;
    svg {
      width: 18px;
      margin-right: 11px;
    }
  }
  .mail, .tel{
    align-items: center;
  }
  .mail svg{
    width: 20px;
    margin-right: 10px;
  }
}
.privacy  {
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  p {
    color: white;
  }
  .policy {
    gap: 48px;
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .footer-content {
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 24px;
      padding-bottom: 24px;
      .nav-about {
        margin-bottom: -36px;
        .side-about {
          display: none;
      }
    }
  }
  .tel-mail {
      margin-bottom: 24px;
      h3 {
        font-size: 16px;
    }
  }
  .side-social {
      gap: 8px;
      width: 100%;
      justify-content: flex-end;
  }
  .privacy {
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
      margin-bottom: 16px;
      p {
        font-size: 16px;
      }
      .policy {
      flex-direction: column;
      gap: 8px;  
      }
  }
}