.location {
    margin-top: 96px;
    margin-bottom: 80px;
    @media (max-width: 576px){
        margin-top: 40px;
        margin-bottom: 64px;
    }
    &-content {
        // margin-left: -12px;
        // margin-right: -12px;
    @media (max-width: 576px){
        padding-left: 13px;
        padding-right: 13px;
        margin-left: 0;
        margin-right: 0;
    }
    }
    &-title {
        font-size: 48px;
        font-weight: bold;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 32px;
        @media (max-width: 576px){
            font-size: 24px;
        }
    }
    &-select {
        margin-bottom: 40px;
        label {
        font-size: 24px;
        margin-right: 16px;
        @media (max-width: 576px){
            font-size: 16px;
        }
    }
        select {
        color: #495057;
        font-size: 18px;
        height: 36px;
        width: 304px;
        background-color: transparent; /* 背景透明 */
        border: 1px solid #CED4DA;
        @media (max-width: 576px){
        height: 38px;
        max-width: 76%;
        }
    }
    }
}
.location-card {
    .card-list {
        gap: 24px;
    }
    li{
        width: calc(33.3333% - 16px);
        margin-bottom: 24px;
        @media (max-width: 576px){
            width: 100%;
            }
        p {
            font-size: 20px;
        }
        img {
            vertical-align: middle;
        }
        svg {
            vertical-align: middle;
            margin-right: 10px;
        }
        .location-name {
            padding: 16px 24px;
            font-size: 24px;
            border: 1px solid #00000020;
        }
        .location-about {
            padding: 16px 24px;
            border: 1px solid #00000020;
        }
        .location-tel , .location-time {
            align-items: center;
        }
        .location-detail {
            background-color: #000000;
            font-size: 19px;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 16px;
            a {
                color: #FFFFFF;
            }
        }
    }
    
}
