<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="all.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>optical</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="nav">
        <div class="container">
            <div class="nav-content">
                <ul class="product-list d-flex">
                    <li><a href="#">OPTICAL</a></li>
                    <li><a href="#">SUNGALSSES</a></li>
                    <li><a href="#">FUNCTIONAL</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner d-flex">
        <img src="../assets/images/product-header-1.png" alt="optiacl-glasses">
        <img src="../assets/images/product-header-2.png" alt="optiacl-glasses">
    </div>
    <div class="content">
        <div class="container">
            <div class="product-content">
                <div class="frame-name d-flex">
                    <h2 class="frame">Celluloid Combi</h2>
                    <h3 class="frame-chinese">賽璐珞鈦金屬混合鏡框</h3>
                </div>
                <ul class="card-list">
                    <li class="card">
                        <img src="../assets/images/product-1.png" alt="item">
                        <div class="item-about d-flex">
                        <p>BJ41600S</p>
                        <p>NTD3,490</p>
                        </div>
                        <div class="item-color d-flex">
                            <div class="color-1"></div>
                            <div class="color-2"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
