<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="all.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>optical</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="nav">
        <div class="container">
            <div class="nav-content">
                <ul class="product-list d-flex">
                    <li><a href="#">OPTICAL</a></li>
                    <li><a href="#">SUNGALSSES</a></li>
                    <li><a href="#">FUNCTIONAL</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner d-flex">
        <img class="banner-img-l" src="../assets/images/product-header-1.png" alt="optiacl-glasses">
        <img class="banner-img-r" src="../assets/images/product-header-2.png" alt="optiacl-glasses">
    </div>
    <div class="content">
        <div class="container">
            <div class="product-content">
                <div class="frame d-flex">
                    <h2 class="frame-name">Celluloid Combi</h2>
                    <h3 class="frame-chinese">賽璐珞鈦金屬混合鏡框</h3>
                </div>
                <div class="card-list d-flex">
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-1.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-2.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-3.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-4.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-5.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-6.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-7.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-8.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-9.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-10.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-11.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="card">
                    <li>
                        <img src="../assets/images/product-12.png" alt="item">
                        <div class="card-about d-flex">
                        <p>BJ41600S</p>
                        <p class="card-price">NTD3,490</p>
                        </div>
                        <ul class="card-color d-flex">
                            <li class="color-1"><a href="#"></a></li>
                            <li class="color-2"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                <ul class="page d-flex">
                    <li class="page-up"><a href="#">上一頁</a></li>
                    <li class="page-num"><a href="#">1</a></li>
                    <li class="page-num"><a href="#">2</a></li>
                    <li class="page-num"><a href="#">3</a></li>
                    <li class="page-num"><a href="#">4</a></li>
                    <li class="page-num"><a href="#">5</a></li>
                    <li class="page-down"><a href="#">下一頁</a></li>
                </ul>
            </div>
        </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
